.twitter-card {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid #fcfcfc;
    padding: 12px;
    border-radius: 8px;
}

.twitter-card__header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.twitter-card-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #555;
}

.tw-followCard-text {
  display: block;
}

.twitter-card__info {
    margin-left: auto;
    margin-right: 20px;
}

.btn-tw-followCard-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    background-color: #1da1f2;
    color: #fff;
    transition: .3s ease background-color;
}

.tw-followCard-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    transition: .3s ease background-color;
}

.tw-followCard-button:focus {
    outline: none;
}

.tw-followCard-button.is-following {
    border: 1px solid #bbb;
    background: transparent;
    color: #fff;
    width: 140px;
}


.tw-followCard-button.is-following:hover {
    background-color: rgba(255, 0, 0, 0.178);
    color: red;
    border: 1px solid red;
    transition: .3s ease all;
    opacity: 1;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
    display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
    display: block;
}

.tw-followCard-stopFollow {
    display: none;
}